*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 95%;
  max-width: $container-max-width;
  margin: 0 auto;

  &--narrow {
    width: 95%;
    max-width: $container-narrow-width;
    margin: 0 auto;
  }

  &--wide {
    width: 95%;
    max-width: $container-wide-width;
    margin: 0 auto;

    @include respond-to(tab-land) {
      // padding: 0 2rem;
    }
  }
}

.section {
  padding: 7rem 0;
}
