.footer {
  background-color: $color-primary-100;
  margin-top: 6rem;

  a {
    text-decoration: none;
  }

  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 6rem;
    padding: 4rem 0;
  }

  &__bottom {
    color: $color-white;
    text-align: center;
    background-color: $color-primary-900;
    padding: 1.5rem 0;
  }

  &-image {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
  }

  &-bio {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3rem;

    @include respond-to(phone-large) {
      grid-column: -1 / 1;
    }
  }

  &-list {
    h4 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    a {
      color: $color-body-text;
      font-size: 1.5rem;
    }
  }
}
