.navigation {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  &.scrolled {
    background-color: $color-white;
  }

  .container--navigation {
    width: 100%;
    max-width: $navigation-container-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .logo {
    height: 3rem;
    width: 10rem;
    background-color: slategray;
    margin-right: auto;
  }

  &__list {
    display: flex;

    @include respond-to(tab-port) {
      display: none;
    }
  }

  &__item {
    display: block;
    list-style: none;
    &:not(last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    display: block;
    color: $color-body-text;
    text-decoration: none;
    padding: 2.5rem 2.5rem;
    font-size: 1.6rem;
  }

  &__cta {
    @include respond-to(tab-port) {
      display: none;
    }
  }

  .menu {
    display: none;
    @include respond-to(tab-port) {
      display: block;
      margin: 1.5rem 0;
    }
  }
}
