.about-me {
  display: flex;

  @include respond-to(phone) {
    flex-direction: column;
  }

  &__image {
    flex-basis: 50%;
    margin-right: 5rem;
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;

    @include respond-to(phone) {
      margin: 0 0 3rem;
      flex-basis: auto;
      max-height: 30rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color-primary-900, 0.65);
    }
  }

  &__content {
    flex-basis: 50%;
  }
}
