.about-me {
  display: flex;
  &__image {
    flex-basis: 45%;
    margin-right: 3rem;
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color-primary-900, 0.65);
    }
  }

  &__content {
    flex-basis: 55%;
  }
}
