.button-group {
  display: flex;
  align-items: center;
}

.button {
  display: inline-block;

  font-family: $font-stack-body;

  border-radius: 0.5rem;
  padding: 1.5rem 2rem;

  &--primary {
    background-color: $color-primary-700;
    color: $color-white;
  }

  &--ghost {
    background-color: $color-white;
    border: 2px solid $color-primary-700;
    color: $color-primary-700;
  }
}
