.button-group {
  display: flex;
  align-items: center;
}

.button {
  display: inline-block;
  background-color: $color-primary-700;
  font-family: $font-stack-body;
  color: $color-white;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
}
