.button-group {
  display: flex;
  align-items: center;

  @include respond-to(phone-large) {
    justify-content: center;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: $font-stack-body;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  min-width: 12rem;
  text-align: center;
  transition: 0.3s ease all;

  &--primary {
    background-color: $color-primary-700;
    color: $color-white;

    &:hover {
      background-color: $color-primary-900;
    }
  }

  &--ghost {
    background-color: $color-white;
    border: 2px solid $color-primary-700;
    color: $color-primary-700;

    &:hover {
      background-color: $color-primary-900;
      color: $color-white;
      border: 2px solid transparent;
    }
  }
}
