.cards {
  display: flex;

  @media screen and (max-width: 50em) {
    flex-direction: column;
    align-items: center;
  }

  &:hover .card:not(:hover) {
    opacity: 0.3;
  }
}

.card {
  background-color: $color-primary-100;
  border-radius: $border-radius-lg;
  padding: 2.5rem;
  transition: 0.2s ease all;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-basis: 33%;

  @media screen and (max-width: 50em) {
    margin-bottom: 2rem;
    width: 80%;
  }

  &:not(:last-child) {
    margin-right: 3rem;

    @media screen and (max-width: 50em) {
      margin-right: 0;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &__content {
    margin-bottom: auto;
  }

  @include respond-to(tab-land) {
    padding: 2.5rem;
  }
}
