.header {
  text-align: center;
  padding-top: 14rem;
  padding-bottom: 2rem;

  @include respond-to(tab-land) {
    padding-top: 12rem;
  }

  &--home {
    display: flex;

    @include respond-to(tab-land) {
      padding-bottom: 2rem;
    }

    &__text {
      text-align: left;
      flex-basis: 65%;
      margin-right: 9rem;

      @include respond-to(tab-land) {
        flex-basis: 60%;
        margin-right: 5rem;
      }

      @include respond-to(phone-large) {
        flex-basis: 100%;
        margin-right: 0;
        text-align: center;
      }
    }

    &__image-container {
      flex-basis: 35%;
      height: 40rem;

      @include respond-to(tab-land) {
        flex-basis: 40%;
      }

      @include respond-to(phone-large) {
        display: none;
      }

      img {
        border-radius: 1rem;
        object-fit: cover;
        height: 115%;

        @include respond-to(tab-land) {
          height: 120%;
        }
      }
    }
  }
}
