.horizontal-feed {
  display: flex;
  margin-bottom: 10rem;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  @include respond-to(tab-port) {
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto 10rem;
  }

  &__image {
    margin-right: auto;
    flex-basis: 47%;

    img {
      border-radius: $border-radius-lg;
    }

    @include respond-to(tab-port) {
      margin-bottom: 2rem;
    }
  }

  &__content {
    flex-basis: 47%;
  }
}
