.project {
  display: flex;
  align-items: flex-start;

  @include respond-to(phone-large) {
    flex-direction: column;
  }
  &-image {
    display: block;
    max-height: 55rem;
    width: 100%;
    object-fit: cover;
  }

  &__details {
    flex-basis: 70%;
    margin-right: 4rem;

    @include respond-to(phone-large) {
      margin-right: 0;
    }
  }

  &__sidebar {
    flex-basis: 30%;
    align-items: flex-start;
    border-radius: $border-radius-lg;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: $color-primary-100;
    position: sticky;
    top: 10rem;

    @include respond-to(phone-large) {
      order: -1;
      position: static;
      width: 100%;
      margin-bottom: 3rem;
    }
    h4 {
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: $color-body-text;
    }

    svg {
      width: 1.5rem;
      margin-left: 1rem;
      color: $color-primary-500;
    }
  }
}
