/* Font Variables */
// $font-stack-header: "Castoro", -apple-system, BlinkMacSystemFont, "Segoe UI",
//   Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-header: "PT Sans", sans-serif;
$font-stack-body: "PT Sans", sans-serif;

/* Color Variables  */
$color-primary-900: hsl(283, 89, 15);
$color-primary-700: hsl(283, 59, 27);
$color-primary-500: hsl(283, 49, 42);
$color-primary-300: hsl(282, 46, 69);
$color-primary-100: hsl(283, 49, 97);

$color-secondary-900: hsl(39, 100, 19);
$color-secondary-700: hsl(35, 100, 75);
$color-secondary-500: hsl(34, 100, 86);
$color-secondary-300: hsl(34, 100, 93);
$color-secondary-100: hsl(30, 63, 97);

$color-gray-900: hsl(282, 7, 19);
$color-gray-700: hsl(283, 7, 33);
$color-gray-500: hsl(283, 7, 52);
$color-gray-300: hsl(282, 8, 89);
$color-gray-100: hsl(282, 7, 95);

$color-body-text: hsl(0, 0, 20);
$color-white: hsl(0, 0, 100);

$background-secondary-100: $color-secondary-100;
$background-primary-100: $color-primary-100;

/* Size Variables */
$container-max-width: 96rem;
$container-narrow-width: 66rem;
$container-wide-width: 105rem;
$navigation-container-max-width: 115rem;

$border-radius-lg: 0.7rem;
$border-radius-sm: 0.3rem;

/* Placeholders  */

%box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
